{% extends "base.html" %}
{% block content %}
{% load static %}
<main role="main" class="container">
      <div class="row">
        <div class="col-md-8">

            <h3>Michael Wheeler II</h3>
            <br/>
            <h4>About Me</h4>
            <a>
                Hi!  Welcome to my website where I show off various projects.  I'm a Systems Analyst from Kalamazoo, Michigan that has a passion for learning about cool new things in computer science.
                I enjoy development in general and am especially interested in machine learning and have been exploring it with the tensorflow library.
            </a>

            <br/> <br/> <br/>

            <h4>Education</h4>
            <a>
                I went to Michigan Technological University (MTU) and completed a Bachelors of Science in Computer Engineering.  I chose Computer Engineering because I always enjoyed learning about ever since I can remember.
                At MTU my classes consisted of a mix of computer science and electrical engineering courses.  Although electrical engineering was interesting I found much more enjoyment in computer science.  Writing code to complete
                assignments was way more fun for me than creating circuits in simulink.   Whether it was alone or in small team settings, I always enjoyed writing code for my courses.
            </a>

            <br/> <br/> <br/>

            <h4>My Projects</h4>

             <br/>

            <div class="container" style="display: flex;">
                <div class="col-md-5">
                    <h5> <a href="/MNISTDigitReader" style="text-decoration: underline; color: #444444"> Digit Reader </a></h5>
                    <a>Here you can draw digits and have a Neural Network built with tensorflow try to guess which digit you drew!</a>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'app_pages/DigitReader.PNG' %}">
                </div>
            </div>

        </div>
     </div>
</main>


{% endblock content %}